<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">

  <title>Login/Register</title>
</head>
    <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="d-flex align-items-center justify-content-center">
              <img src="./images/logo.png" class="logo-image" alt="Logo">
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title text-center ">Crear Cuenta de Vendedor</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="nombre">Nombre</label>
                      <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="apellido">Apellido</label>
                      <input type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="nombre">Usuario</label>
                      <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="apellido">Nombre de la Tienda</label>
                      <input type="text" class="form-control" id="apellido" placeholder="Nombre de la tienda">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico">
                  </div>
                  <div class="form-group">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" class="form-control" id="contrasena" placeholder="Ingrese una contraseña">
                  </div>
                  <div class="form-group">
                    <label for="confirmarContrasena">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="confirmarContrasena" placeholder="Confirme su contraseña">
                  </div>
                  <div class="form-group text-center"> 
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                  </div>
                  <div class="text-center">
                    <a href="login.html" class="text-center mt-2"><strong>Volver</strong></a>
                  </div>       
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
