{% extends 'base.html' %} {% block content %}
{% load static %}
{% include 'navbar.html' %}
<title>Seller Profile</title>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 profile-container">
      <!-- Texto y mensaje sobre información personal -->
      <h3><strong>Personal Information</strong></h3>
      <p>Add or modify your personal information</p>
      
      <!-- Imagen del usuario -->
      <img src="{% static 'img/favicon.png' %}" class="img-fluid rounded-circle" alt="User Image">
      
      <!-- Opciones de perfil -->
      <div class="list-group mt-3">
        <a href="#"  class="list-group-item list-group-item-action active">Seller Information</a>
        <a href="{% url 'sellerOrders' %}" class="list-group-item list-group-item-action">Orders</a>
        <a href="{% url 'sellerCentral' %}" class="list-group-item list-group-item-action">Seller Central</a>
        <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Log Out</a>
      </div>
    </div>
    <div class="col-md-8">
      <form class="formulario" method="post">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">First name</label><br>
            <strong>{{user.first_name}}</strong>
          </div>
          <div class="form-group col-md-6">
            <label for="lastname">Last name</label><br>
            <strong>{{user.last_name}}</strong>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">Username</label><br>
            <strong>{{user.username}}</strong>
          </div>
          <div class="form-group">
            <label for="username">Public Name</label><br>
            <strong>{{seller_info.publicName}}</strong>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label><br>
          <strong>{{user.email}}</strong>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

