{% extends 'base.html'%} {% block content %}
{% load static %}
{% include 'navbar.html' %}
<title>Orders</title>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 profile-container">
            <!-- Texto y mensaje sobre información personal -->
            <h3><strong>Orders</strong></h3>
            <p>Manage your orders</p>
            <!-- Imagen del usuario -->
            <img src="{% static 'img/favicon.png' %}" class="img-fluid rounded-circle" alt="User Image">
            
            <!-- Opciones de perfil -->
            <div class="list-group mt-3">
                <a href="{% url 'sellerProfile' %}"  class="list-group-item list-group-item-action">Seller Information</a>
                <a href="{% url 'sellerOrders' %}" class="list-group-item list-group-item-action active">Orders</a>
                <a href="{% url 'sellerCentral' %}" class="list-group-item list-group-item-action">Seller Central</a>
                <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Log Out</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="order-container">
            {% if posts %}
            {% for post in posts %}
            <div class="order-frame  ">
                <img src="{% static 'img/airpods.jpg' %}" class="order-product" alt="Product Image">
                <p class="nameProduct"><strong>{{post.title}}</strong></p>
                <p class="priceProduct"><strong>${{post.originalPrice}}</strong></p>
            </div>
            {% endfor %}
            </div>
            {% else %}
            <div class="order-container">
                <div class="order-frame">
                    <p class="nameProduct"><strong>You don't have any orders yet</strong></p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
