{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include 'navbar.html' %}

<title>Seller Central</title>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-2">
                            <img src="{% static 'img/favicon.png' %}" class="imgVendedor" alt="Perfil del Vendedor"
                                style="max-width: 100px; height: auto;">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6 d-flex flex-column justify-content-center">
                                    <h5 class="card-title">JUAN PABLITO</h5>
                                    <p class="card-text">@pablitohv</p>
                                </div>
                                <div class="col-md-6 d-flex flex-column justify-content-center">
                                    <h5 class="card-title">Listing</h5>
                                    <p class="card-text">2 posts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center justify-content-between mb-3">
                        <div class="col-md-6">
                            <h5 class="card-title">Listings</h5>
                        </div>
                        <div class="col-md-6 text-md-right">
                            <button type="button" class="btn btn-primary btn-sm">Create Listing</button>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <img src="{% static 'img/airpods.jpg' %}" alt="Product 1" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h4><strong>Airpods 2</strong></h4>
                                <p>Stock: 100 units</p>
                                <p>Units Sold: 50</p>
                                <p class="text-success font-weight-bold">Discount Price: $999.99</p>
                                <p class="card-text">
                                    <del class="text-muted">Price: $1299.99</del>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center justify-content-end">
                            <div class="d-flex align-items-center">
                                <button class="btn btn-danger btn-sm mx-2">Delete</button>
                                <button class="btn btn-warning btn-sm mx-2">Modify</button>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <img src="{% static 'img/airpods.jpg' %}" alt="Product 1" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h4><strong>Airpods 2</strong></h4>
                                <p>Stock: 100 units</p>
                                <p>Units Sold: 50</p>
                                <p class="text-success font-weight-bold">Discount Price: $999.99</p>
                                <p class="card-text">
                                    <del class="text-muted">Price: $1299.99</del>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center justify-content-end">
                            <div class="d-flex align-items-center">
                                <button class="btn btn-danger btn-sm mx-2">Delete</button>
                                <button class="btn btn-warning btn-sm mx-2">Modify</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}